.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd, 40%, #ccc);

}

h3 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.sticky-top-buttons {
          position: sticky;
          top: 0;
          background: white;   /* Fondo para evitar que el contenido se vea debajo */
          padding: 10px 0;
          }
#customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

#customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        }

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
/* 🔥 Hace que comentarios no crezcan demasiado */
.comentarios-col {
        max-width: 250px;      /* ancho fijo */
        white-space: normal;   /* permite saltos */
        word-wrap: break-word; /* corta palabras largas */
        overflow-wrap: break-word;
        }