{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

  <h2>Listado de Gastos</h2>

  <a href="{% url 'gasto_crear' %}" class="btn btn-success mb-3">Nuevo Gasto</a>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Folio</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Proveedor</th>
      <th>Importe</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for g in gastos %}
    <tr>
      <td>{{ g.folio }}</td>
      <td>{{ g.fecha }}</td>
      <td>{{ g.concepto2 }}</td>
      <td>{{ g.proveedor.nombre }}</td>
      <td>${{ g.importe }}</td>
      <td>
        <a href="{% url 'gasto_editar' g.folio %}" class="btn btn-warning btn-sm">Editar</a>

      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
