{% extends "base.html" %}
{% load formatos %}
{% block content %}

<style>
    .sticky-top-buttons {
          position: sticky;
          top: 0;
          background: white;   /* Fondo para evitar que el contenido se vea debajo */
          padding: 10px 0;
          }
         #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
    /* 🔥 Hace que comentarios no crezcan demasiado */
    .comentarios-col {
        max-width: 250px;      /* ancho fijo */
        white-space: normal;   /* permite saltos */
        word-wrap: break-word; /* corta palabras largas */
        overflow-wrap: break-word;
        }
</style>
<div class="container mt-4">

  <h2>Listado de Gastos</h2>

  <a href="{% url 'gasto_crear' %}" class="btn btn-success mb-3">Nuevo Gasto</a>

  <table id="customers">
    <thead>
    <tr>
      <th>Folio</th>
      <th>Fecha</th>
      <th>Tipo Movimiento</th>
      <th>Proveedor</th>
      <th>Importe</th>
      <th>Comentarios</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for g in gastos %}
    <tr>
      <td>{{ g.folio }}</td>
      <td>{{ g.fecha|date:"d/m/Y" }}</td>
      <td>{{ g.concepto2 }}</td>
      <td>{{ g.proveedor.nombre }}</td>
      <td>{{ g.importe |formato_pesos }}</td>
      <td class="comentarios-col">{{ g.comentarios }}</td>
      <td>
        <a href="{% url 'gasto_editar' g.folio %}" class="btn btn-warning btn-sm">Editar</a>

      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
